<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <rewrite>
      <rules>
        <rule name="Plesk. Wordpress redirect wpConfigRule #e4a1e984-16ef-47b1-9c99-c46a66f5145b" stopProcessing="true">
          <match url="^wp-config.php$" ignoreCase="false"/>
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
